@import url('https://fonts.googleapis.com/css2?family=Bree+Serif');
.outer{
    height:100%;
    width: 100%;
    /* background: linear-gradient(to top, #acacc7  50%, #b1f0ed 90%) no-repeat; */
    background: url("../../../assets/image/login.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.panel{
    background: rgba(247, 239, 239, 0.427);
}
.container{
    padding-top: 100px;
}
.panel-heading{
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
    font-family: 'Bree Serif', serif;
    color: #2b2c30;
}
.text{
    font-weight: bold; 
    font-size: 30px;
    font-family: 'Bree Serif', serif;
}
#link{
    text-decoration: none;
    cursor: pointer;
    font-size: 17px;
}
.btn{
    margin-top: 20px;
    border-radius: 15px;
}
.panel{
    min-height: 380px;
    /* box-shadow: 20px 20px 80px rgb(187, 135, 67); */
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
input{
    background: none;
}
.input-field{
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: rgb(107, 110, 114);
}
.input-field.error{
    border: 1px solid red;
    color: red;
}
input{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
}
.fa-eye-slash.btn{
    border: none;
    outline: none;
    box-shadow: none;
}
img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}